.star {
  /* margin-top: 50px; */
  position: fixed;
  font-size: 40px;
  color: green;
  opacity: 0;
  animation: shooting 5s linear forwards;
  pointer-events: none;
}

@keyframes shooting {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100vh);
  }
}
